body {
  background-image: url(imgs/fundo-assombrado.jpg);
  background-size: cover;
  color: white;
  margin: 0;
  font-family: monospace;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-family: "Special Elite", cursive;
}

h2 {
  font-family: "Aldrich", sans-serif;
}

h1 + h2 {
  font-size: 100%;
  margin-top: 0.5em;
  color: silver;
}

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

a:hover {
  color: white;
}

a:active {
  color: red;
}

/* --- Cabeçalho --- */
#cabecalho {
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.25);
  padding-top: 1em;
  text-align: center;
}

#cabecalho ul {
  background-color: rgba(0, 204, 147, 0.53);
}

#cabecalho a {
  text-decoration: none;
  text-shadow: 1px 1px black;
}

#menu-de-navegacao ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#menu-de-navegacao ul li {
  margin-left: 5px;
  margin-right: 5px;
}

#menu-de-navegacao ul li a {
  padding: 10px;
}

#menu-de-navegacao ul li a:hover {
  color: blue;
}

/* --- Conteúdo principal da página --- */
#conteudo-principal {
  padding-left: 2.5%;
  transition: opacity 1s linear;
  padding-bottom: 3em;
}

/* --- Principal >> Postagens principais --- */
#posts-principais {
  padding-top: 1.5em;
}

#posts-principais h1 {
  margin-bottom: 1em;
}

#posts-principais .post {
  width: 40%;
  max-width: 400px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  display: inline-block;
  position: relative;
}

#posts-principais .post .titulo {
  top: 20px;
  opacity: 0;
  transition: all 200ms ease;
  position: absolute;
}

#posts-principais .post .titulo:hover {
  text-shadow: 1px 1px black;
  top: 6px;
  left: 6px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

#posts-principais .post img {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border: 6px solid white;
  margin-bottom: 0.5em;
}

/* --- Principal >> Últimas postagens --- */
#ultimas-postagens {
  margin-top: 3em;
  margin-bottom: 1em;
}

#ultimas-postagens .post {
  margin-top: 1em;
  margin-bottom: 1em;
}

.novidade::before {
  content: "Novidade!";
  display: inline-block;
  background: #1d8348;
  border-radius: 5px;
  padding: 5px;
  margin-right: 1em;
}

#ultimas-postagens .post .data-horario {
  background-color: white;
  color: #333;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  display: inline-block;
  margin-right: 1em;
}

#ultimas-postagens .post .titulo {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}

/* --- Principal >> Nuvem de tags --- */
#tags {
  float: right;
  width: 300px;
  padding: 15px;
  background-color: black;
  background-image: url(imgs/mula.webp);
  background-repeat: cover;
  background-size: 300px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: sticky;
  top: 0;
}

#tags h1 {
  margin-bottom: 1em;
  text-shadow: 2px 2px #000;
}

.tag-1,
.tag-2,
.tag-3 {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 2px;
  background-color: orange;
  color: white;
  text-shadow: 1px 1px black;
  position: relative;
  cursor: pointer;
}

.tag-1:active,
.tag-2:active,
.tag-3:active {
  top: 2px;
  left: 2px;
}

.tag-2 {
  font-size: 125%;
}

.tag-3 {
  font-size: 150%;
}

/* --- Principal >> Fantasminhas --- */

@keyframes gasparVoando {
  0% {
    left: 50px;
    transform: rotate(0deg);
  }
  25% {
    left: 75%;
    transform: rotate(90deg);
  }
  50% {
    transform: scaleX(-1);
    transform: rotate(180deg);
  }
  75% {
    left: 50px;
    transform: rotate(270deg);
  }
  100% {
    transform: scaleX(-1);
    transform: rotate(360deg);
  }
}

#booGaspar,
#booFlavio,
#booMario {
  position: absolute;
  opacity: 0.1;
  width: 50px;
  transition: all 0.3s ease-in-out 0s;
}

#booGaspar {
  left: 50px;
  top: 150px;
}

#booFlavio {
  right: 100px;
  top: 300px;
  transform: scaleX(-1);
}

#booMario {
  left: 100px;
  bottom: 150px;
}

#booGaspar:hover,
#booFlavio:hover,
#booMario:hover {
  opacity: 1;
  width: 100px;
}

#booGaspar,
#booMario {
  animation-name: gasparVoando;
  animation-duration: 60s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#booMario:hover {
  transform: rotate(360deg);
}

/* --- Rodapé --- */
#rodape {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  display: flex;
}

#rodape .logo-rodape {
  margin-right: 2em;
}

/* --- Vídeo --- */
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 1s linear;
  opacity: 1;
  visibility: visible;
}

.desaparecido {
  opacity: 0 !important;
  visibility: hidden !important;
}

.backdrop video {
  width: 100%;
}

.backdrop.desaparecido + #unmute {
  display: none;
}

#unmute {
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border-radius: 50%;
  border: 2px solid currentColor;
  background-color: rgba(255, 255, 255, 0.15);
  color: black;
  font-size: 2.5rem;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

#unmute:hover {
  color: white;
}

#unmute:active {
  color: black;
  transform: translate(1px, 1px);
}

#unmute:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 4px yellow;
}

#unmute:active:focus {
  color: black;
  border-color: currentColor;
  box-shadow: none;
}
